@model TicTacToe.Models.UserModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<TicTacToe.Models.UserModel> UserManager
@{ 
    var isTwoFactor = UserManager.GetTwoFactorEnabledAsync(Model).Result;
    ViewData["Title"] = "Indeks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Szczegóły konta</h3>
<div class="container">
    <div class="d-flex justify-content-center h-auto">
        <div class="card card-body">
            <div class="row row">
                <div class="col-sm-6 col-md-4">
                    <Gravatar email="@Model.Email"></Gravatar>
                </div>
                <div class="col-sm-6 col-md-8">
                    <h4>@($"{Model.FirstName} {Model.LastName}")</h4>
                    <p id="small">
                        <ion-icon name="mail-outline"></ion-icon>&nbsp;
                        <a href="mailto:@Model.Email" style="color:black;">@Model.Email</a>
                    </p>
                    <p id="small">
                        <ion-icon name="calendar-outline"></ion-icon>&nbsp;
                        @Model.EmailConfirmationDate
                    </p>
                    <p id="small">
                        <ion-icon name="star-outline"></ion-icon>&nbsp;
                        @Model.Score
                    </p>
                    <p id="small">
                        <ion-icon name="shield-checkmark-outline"></ion-icon>
                        <text>Uwierzytelnianie dwuskładnikowe&nbsp;</text>
                        @if (Model.TwoFactorEnabled)
                        {
                            <a asp-action="DisableTwoFactor" style="color:#FFC312;">Wyłącz</a>
                        }
                        else
                        {
                            <a asp-action="EnableTwoFactor" style="color:#FFC312;">Włącz</a>
                        }
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

